.button {
	
	@for $i from 0 through 4 {
		&.fact-#{convert-number-to-word($i)} { 
			@include button($factColor, $i);
		}
		&.topic-#{convert-number-to-word($i)} {
			@include button($topicColor, $i);
		}
		&.misc-#{convert-number-to-word($i)} {
			@include button($miscColor, $i);
		}
	}
	
	@for $j from 1 through 10 {
		&.size-#{convert-number-to-word($j)} { 
			@include button-size($j);
		}
	}
}

button.vote {
	width: auto; 
	background: getColor($factColor, 3); 
	border: 1px solid darken(getColor($factColor, 3), 5%); 
	color: #fff; 
	cursor: pointer; 
	display: inline-block;
	font-size: 10px; 
	font-weight: bold; 
	line-height: 1; 
	margin: 0; 
	outline: none; 
	padding: 3px 5px 3px;
	position: relative; 
	text-align: center; 
	text-decoration: none; 
	margin-bottom: 0;
	border-radius: 5px;
	box-shadow: 1px 1px 1px rgba($factColor,0.5),
				1px 1px 1px rgba($white, 0.75) inset;
	@include gradients(getColor($factColor, 3));
	&:hover {
		background: getColor($factColor, 2); 
		border: 1px solid darken(getColor($factColor, 2), 5%);
		@include gradients(getColor($factColor, 2));
		box-shadow: -1px -1px 1px rgba($white, 0.75) inset,
					1px 1px 1px rgba($white, 0.75) inset;
	}
	&:active { 
		border: 1px solid darken(getColor($factColor, 2), 5%);
		background-color: darken(getColor($factColor, 2), 10%);
		@include reverse-gradients(darken(getColor($factColor, 2), 10%));
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	
	&.up {
		:first-child {
			border-color: transparent transparent rgba($miscColor, 0.7) transparent;
			border-style: solid;
			border-width: 0px 5px 10px 5px;
			width: 0;
			height: 0;
		}
	}
	
	&.down {
		:first-child {
			border-color: rgba($miscColor, 0.7) transparent transparent transparent;
			border-style: solid;
			border-width: 10px 5px 0px 5px;
			width: 0;
			height: 0;
		}
	}
}

button.next { 
	@include button($factColor, 1);
	margin: 0;
	padding: 5px 8px 5px;
	position: absolute;
	bottom: 15px;
	
	&.left {
		left: 15px;
		
		:first-child {
			border-style: solid;
			width: 0;
			height: 0;
			border-color: transparent rgba($factColor, 0.7) transparent transparent;
			border-width: 10px 15px 10px 0px;
			z-index: 10;
		}
	}
	&.right {
		right: 15px;
		
		:first-child {
			border-style: solid;
			width: 0;
			height: 0;
			border-color: transparent transparent transparent rgba($factColor, 0.7);
			border-width: 10px 0px 10px 15px;
		}
	}
}