.active-fact-panel {
	border: 1px solid $panelouterbordercolor;
	width: 492px;
	margin: 0 auto;
	@include rounded-corners(5px);
	background-color: #ffffff;
	padding: 15px 15px 12px 15px;
	margin-bottom: 6px;
	overflow: auto;
	.title {
		min-height: 2.2em;
		margin-top: 7px;
		width: 90%;
	}
	.data-panel {
		position: relative;
		overflow: auto;
		margin: 0 -15px -12px -15px;
		height: 45px;
		background-color: #f0f0f0;
		border-top: 1px solid #d6d6d6;
	}
	.sum {
		margin: -13px 0 0 0;
	}
}
.fact-panel {
	cursor: pointer;
	width: 492px;
	margin: 0 auto;
	background-color: #ffffff;
	padding: 15px 15px 12px 15px;
	height: 58px;
	.title {
		height: 1.6em;
		width: 75%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}


.topic-container {
	margin: 0 auto;
	width: 313px;
	padding-top: 12px;
}

.active-topic-panel {
	border: 1px solid $panelouterbordercolor;
	@include rounded-corners(5px);
	width: 305px;
	background-color: #ffffff;
	margin-left: -1px;
	margin-top: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	text-align: center;
	padding-top: 10px;
	padding-right: 8px;
	.topic-arrow {
		border-color: transparent rgba($backgroundcolor, 1) transparent transparent;
		margin-top: 54px;
		margin-left: 4px;
	}
	.arrow-container {
		padding: 0;
		@include right-rounded-corner(5px);
		height: 130px;
		margin-bottom: -58px;
		margin-left: 0px;
		margin-top: -13px;
	}
}

.topic-panel {
	padding: 10px 8px 0 0;
	width: 305px;
	background-color: #fff;
	margin-left: -1px;
	text-align: center;
	height: 45px;
	cursor: pointer;
	.bold-text {
		color: #999999;
	}
}

.inner-topic-panel {
	border-top: 1px solid $panelinnerbordercolor;
	border-bottom: 1px solid $panelinnerbordercolor;
	border-left: 1px solid $panelouterbordercolor;
	border-right: 1px solid $panelouterbordercolor;
	margin-top: -1px;
}

.top-topic-panel {
	border-top: 1px solid $panelouterbordercolor;
	border-left: 1px solid $panelouterbordercolor;
	border-right: 1px solid $panelouterbordercolor;
	border-bottom: 1px solid $panelinnerbordercolor;
	@include top-rounded-corners(5px);
	.arrow-container {
		@include top-right-rounded-corner(4px);
	}
}

.bottom-topic-panel {
	border-bottom: 1px solid $panelouterbordercolor;
	border-left: 1px solid $panelouterbordercolor;
	border-right: 1px solid $panelouterbordercolor;
	@include bottom-rounded-corners(5px);
	.arrow-container {
		@include bottom-right-rounded-corner(4px);
	}
}

.top-panel-topic {
	border-top: 1px solid $panelouterbordercolor;
	border-left: 1px solid $panelouterbordercolor;
	border-right: 1px solid $panelouterbordercolor;
	@include top-rounded-corners(5px);
	.arrow-container {
		@include top-right-rounded-corner(4px);
	}
}

.bottom-panel-topic {
	border-bottom: 1px solid $panelouterbordercolor;
	border-left: 1px solid $panelouterbordercolor;
	border-right: 1px solid $panelouterbordercolor;
	@include bottom-rounded-corners(5px);
	.arrow-container {
		@include bottom-right-rounded-corner(4px);
	}
}

.show-more-topic-text{
	cursor: pointer;
	font-size: 70%;
	color: rgb(189,189,189);
	padding-top: 8px;
	padding-left: 10px;
	letter-spacing: 1px;
}

.arrow-container {
	height: 55px;
	border-right: 1px solid $panelouterbordercolor;
	float: right;
	margin-top: -10px;
	width: 20px;
	margin-right: -9px;
	background-color: #303030;
	@include linear-gradient(lighten(#484848, 10%), lighten(#181818, 10%));
}

.topic-arrow {
	border-style: solid;
	width: 0;
	height: 0;
	border-color: transparent rgba($backgroundcolor, 0) transparent transparent;
	border-width: 5px 10px 5px 0px;
	z-index: 10;
	margin: 23px -13px 0 4px;
	float: left;
}

.show-facts-text {
	cursor: pointer;
	float: left;
	font-size: 65%;
	color: rgba($textblue, 0.65);
	margin-top: -8px;
	margin-left: 4px;
	font-weight: bold;
}

.active-topic-footer {
	margin-right: 21px;
	width: 293px;
	border-top: 1px solid $panelinnerbordercolor;
	overflow: auto;
	background-color: #ececec;
	float: left;
}

.show-active-topic-text {
	float: left;
	font-size: 75%;
	color: rgba($textblue, 0.65);
	margin-left: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-weight: bold;
}




.profile-panel {
	position: relative;
	border: 1px solid $panelouterbordercolor;
	width: 313px;
	height: 110px;
	margin: 0 auto;
	@include rounded-corners(5px);
	background-color: #fff;
	padding: 0;

	.profile-pic {
		position: absolute;
		top: 16px;
		left: 20px;
		height: 33px;
		margin-right: 10px;
		overflow: hidden;
		@include rounded-corners(5px);
	}
	
	.upper-subset {
		margin: 0;
		border-bottom: 1px solid $panelinnerbordercolor;
		overflow: auto;
		height: 65px;
	}
	
	.name-text {
		position: absolute;
		top: 24px;
		left: 65px;
		white-space: nowrap;
		overflow: hidden;
		width: 145px;
		text-overflow: ellipsis;
	}

	.small-text {
		font-size: 70%;
		margin: 2px 0 0 0;
		color: $lightgreytext;
		@include text-shadow(0, 1px, 0, #ffffff);
	}
}


button.fb-login-profile {
	box-shadow: 0 0 2px 2px rgba(darken($facebookblue,15%), 0.99) inset;
	@include rounded-corners(8px);
	@include linear-gradient(lighten($facebookblue,7.5%), darken($facebookblue,7.5%));
	@include fonts;
	height: 33px;
	width: 172px;
	padding: 0px;
	color: #ffffff;
	font-size: 80%;
	border: none;
	text-align: center;
	@include text-shadow(0, 1px, 0, rgba(darken($facebookblue,50%),0.99));	
	font-weight: bold;
	cursor: pointer;
}

span.sexting {
	@include text-shadow(0, 1px, 0, #fff);
	color: #333333;
}

.greenish {
	@include text-shadow(0, 1px, 0, #fff);
	color: darken(#47CC51, 15%);
}