.header {
	width: 100%;
	position: fixed;
	z-index: 1;
	
	&.container {
		height: 100px;
		background: lighten(desaturate($backgroundcolor, 25%), 5%);
	}
	
	&.navbar {
		height: 40px;
		background: #303030;
		top: 60px;
		@include linear-gradient(#484848, #181818);
		@include text-shadow(0, 0, 0, #d8d8d8);
		@include box-shadow(1px, 1px, 5px, 0, #888);
	}
	
	&.logo {
		width: 225px;
		position: absolute; 
		top: 4px; 
		left: 5px; 
		cursor: pointer;
	}
}

.logo-text {
	position: absolute; 
	top: 4px; left: 
	60px; 
	font-size: 40px; 
	color: #323232;
	font-weight: bold;
}

.header-button-main-container {
	width: 878px;
	margin: 0 auto;
	height: 100%;
}

.header-button-sub-container {
	width: 522px;
	border-right: 1px solid #464646;
	border-left: 1px solid #464646;
	margin-left: 13px;
	height: 100%;
}

.inactive-header-button {
	@include linear-gradient(#484848, #181818);
	color: #f0f0f0;
	font-size: 80%;
	@include text-shadow(0, 1px, 0, #000000);
	cursor: pointer;
}

.header-button-main {
	width: 102px;
	height: 28px;
	text-align: center;
	padding-top: 12px;
	float: left;
	border-right: 1px solid #404040;
	font-weight: bold;
}

.header-button-add {
	width: 105px;
	height: 28px;
	text-align: center;
	padding-top: 12px;
	float: left;
	font-weight: bold;
}

.active-header-button {
	color: #efefef;
	font-size: 80%;
	padding-left: 4px;
	@include linear-gradient(#111111, #282828);
	@include text-shadow(0, 1px, 0, #000000);	
}