html {
	height: 100%;
	@include fonts;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: lighten(desaturate($backgroundcolor, 25%), 5%);
}

.page {
	width: 878px;
	height: 100%;
	position: relative;
	margin: 0 auto;
}

.column {
	position: absolute;
	top: 110px;
	margin: 0;
	padding: 0;
	
	&.left {
		width: 522px;
		right: 14px;
	}
	
	&.right {
		width: 313px;
		left: 16px;
		
		&.side {
			top: 0;
			left: 0;
			position: relative;
			margin: 0 auto;
			padding: 0;
			
			&.top {
				height: 110px;
				margin-bottom: 12px;
			}

			&.bottom {
				
			}
		}
	}

	&.container {
		position: fixed;
		width: 313px;
		height: 100%;		
	}
}