.mousescroll {
	overflow: hidden;
    height:100%;
	margin: 0;
	padding: 0;
	
	&:hover {
		overflow-y: scroll;
	}
}

.page {
	margin: 0 auto;
	position: relative;

	&.wrapper {
		width: $screenWidth;
	}
	
	&.content {
		width: $screenWidth / 2;
	}
}

.sidebar {
	width: $screenWidth / 4;
	margin: 0;
	padding: 0;
	
	&.at {
		position: absolute;
		
		&.left {
			left: 0;
		}
		&.right {
			right: 0;
		}
		&.top {
			top: $headerHeight + $sidebarMargin + $sidebarLabel;
		}
		&.bottom {
			bottom: 0;
		}
	}
	
	&.wrapper {
		position: fixed;
		overflow: hidden;
		margin: 0;
		padding: 0;
		
		&.top {
			height: 75%;
			top: $headerHeight + $sidebarMargin + $sidebarLabel;
		}
		&.bottom {
			height: 10%;
			bottom: 0;
			text-align: center;
		}
	}
}