$screenWidth: 1000px;
$radius: 5px;
$baseFontSize: 10px;
$ratio: 2;
$buttonBase: 10px;
$factHeight: 75px;
$topicHeight: 80px;
$headerHeight: 50px;
$sidebarMargin: 10px;
$sidebarLabel: 10px;

// Colors!

$factColor: #003140;
$topicColor: #1D4000;
$miscColor: #00401B;
$textColor: #555555;
$white: #fff;
$black: #000;