$radius: 5px;
$textblue: #007ccf;
$lightgreytext: rgb(153,153,153);
$backgroundcolor: darken(#7ECBE0, 10%);
$panelouterbordercolor: #9ca5bf;
$panelinnerbordercolor: #dfdfdf;
$buttonshadowblue: rgb(126,203,224);
$greentext: #00cc00;
$redtext: #ff4747;
$facebookblue: rgb(59,89,152);