<div class = "button-container">
	<% for (i = 0; i < answers.length; i++) { %>
		<button id = "answer" class = "answer-button" value = "<%= quiz.get('id') + ' ' + answers[i] %>"><%= answers[i] %></button>
	<% } %>
</div>