<div class = "button-container">
	<% for (i = 0; i < answers.length; i++) { %>
		<button id = "answer" class = "answer-button" value = "<%= answers[i] + ' ' + quiz.get('id') %>"><%= answers[i] %></button>
	<% } %>
</div>