<div style = "position: absolute; bottom: 14px; left: 14px; font-size: 12px"><span class = "sexting"><b>XP:</b></span></div> 
<div class = "progress-bar-container global">
	<div class = "progress-bar global" style = "width: <%= width %>%" />
	<div class = "progress-bar-text global">Level <%= level %></div>
</div>