<div class = "header">
	<div class = "headtext">fuseGap</div>
	<div class = "headright"><div class = "downarrow left" />Topics<div class = "downarrow right" /></div>
</div>
<div class = "sidebar at left top">
	<div class = "sidebar wrapper top">
		<div id = "left" class = " mousescroll sidebar"></div>
	</div>
</div>
<div class = "page content">
	<div class = "panel misc">
		<form id = "new_topic" style = "margin-bottom: 0">
			<label>Title:</label>
			<input type = "text" id = "new_topic_title" maxlength = "40">
			<label>Description:</label>
			<textarea rows = "4" id = "new_topic_description"/>
			<div style = "text-align: center">
				<input class = "button misc-one size-four" type = "submit" value = "Create Topic">
			</div>
		</form>
		<div style = "text-align: center">
			<button class = "button misc-one size-four" id = "cancel">Cancel</button>
		</div>
	</div>
</div>
<div class = "sidebar at right top">
	<div class = "sidebar wrapper top">
		<div id = "right" class = " mousescroll sidebar"></div>
	</div>
</div>
<div class = "sidebar at right bottom">
	<div class = "sidebar wrapper bottom">
		<button class = "button topic-one size-four" id = "create_topic">+ Add Topic +</button>
	</div>
</div>