<div class = "fusehead">
	<div class = "headleft"><div class = "downarrow left" />Facts<div class = "downarrow right" /></div>
	<div class = "headtext">fuseGap</div>
	<div class = "headright"><div class = "downarrow left" />Topics<div class = "downarrow right" /></div>
</div>
<div class = "sidebar at left top">
	<div class = "  sidebar wrapper top">
		<div id = "left" class = " mousescroll sidebar"></div>
	</div>
</div>
<div class = "sidebar at left bottom">
	<div class = " sidebar wrapper bottom" style = "text-align: center">
		<button class = "primary button radius" id = "create_reason" style = "width: 80%; margin-top: 1em">+ Add Fact +</button>
	</div>
</div>
<div class = " page content">
	<div class = "mypanel topic" style = "height: 100%; color: #333333">
		<%= topic.get('title') %></br>
		<%= topic.get('description') %></br>
		<div style = "width: 100%; text-align: center">
			<button class = "success button radius" id = "edit_topic" style = "width: 40%; margin-top: 1em">Edit Topic</button>
		</div>
	</div>
</div>
<div class = "sidebar at right top">
	<div class = "sidebar wrapper top">
		<div id = "right" class = " mousescroll sidebar"></div>
	</div>
</div>
<div class = "sidebar at right bottom">
	<div class = "sidebar wrapper bottom" style = "text-align: center">
		<button class = "success button radius" id = "create_topic" style = "width: 80%; margin-top: 1em">+ Add Topic +</button>
	</div>
</div>