<div id = "intro" class = "header-button-main inactive-header-button">Intro</div>
<div id = "intro_active" class = "header-button-main active-header-button hide">
	<span class="left-button-arrow">&#9660;</span>
	Intro
	<span class="right-button-arrow"> &#9660;</span>
</div>
<div id = "pros" class = "header-button-main inactive-header-button">Pros</div>
<div id = "pros_active" class = "header-button-main active-header-button hide">
	<span class="left-button-arrow">&#9660;</span>
	Pros
	<span class="right-button-arrow"> &#9660;</span>
</div>
<div id = "cons" class = "header-button-main inactive-header-button">Cons</div>
<div id = "cons_active" class = "header-button-main active-header-button hide">
	<span class="left-button-arrow">&#9660;</span>
	Cons
	<span class="right-button-arrow"> &#9660;</span>
</div>
<div id = "quiz" class = "header-button-main inactive-header-button">Quiz</div>
<div id = "quiz_active" class = "header-button-main active-header-button hide">
	<span class="left-button-arrow">&#9660;</span>
	Quiz
	<span class="right-button-arrow"> &#9660;</span>
</div>
<div id = "add" class = "header-button-add inactive-header-button">Add</div>
<div id = "add_active" class = "header-button-add active-header-button hide">
	<span class="left-button-arrow">&#9660;</span>
	Add
	<span class="right-button-arrow"> &#9660;</span>
</div>