<div class = "rage-image">
	<% var num = Math.floor(Math.random() * 23); %>
	<img src = '/assets/fail<%= num + 1 %>.png' width = "100px" />
</div>
<div class = "text">
	Under construction <span class="period-spacing">...</span> sorry!
</div>