<div class = "popup-login-container">
	<button id = "fb_login" class = "fb-login">
		Sign In with Facebook
	</button>
	<div class = "signin-text-main bold-text">
		Sign in to save your progress! 
	</div>
	<div class = "signin-text-sub">
		(We NEVER post for you...we hate spam)
	</div>
</div>