<div class = "rage-image">
	<% var num = Math.floor(Math.random() * 23); %>
	<img src = '/assets/fail<%= num + 1 %>.png' width = "100px" />
</div>
<div class = "text">
	You need to earn more votes first!
	<div class = "construction-small-text-sub">
		(you can gain votes by leveling up)
	</div>
</div>