<div class = "sidebar at left top">
	<div class = "sidebar wrapper top">
		<div id = "left" class = " mousescroll sidebar"></div>
	</div>
</div>
<div class = "page content">
	<div class = "">
		Home Page
		<div style = "margin: 0 auto; width: 450px">
			<div class="fb-like" data-href="http://www.fusegap.org" data-send="false" data-width="450" data-show-faces="true" data-font="verdana"></div>
		</div>
	</div>
</div>
<div class = "sidebar at right top">
	<div class = "sidebar wrapper top">
		<div id = "right" class = " mousescroll sidebar"></div>
	</div>
</div>
<div class = "sidebar at right bottom">
	<div class = "sidebar wrapper bottom" style = "text-align: center">
		<button class = "success button radius" id = "create_topic" style = "width: 80%; margin-top: 1em">+ Add Topic +</button>
	</div>
</div>