<div class = "popup">
	<div id = "message" class = "popup-message-container bold-text"></div>
	<div id = "under_construction" class = "popup-error-container bold-text"></div>
	<div id = "login"></div>
	<div class = "popup-continue-container">
		<button id = "ok" class = "continue">
			Continue <span class = "period-spacing">...</span>
		</button>
	</div>
</div>