<div id = "home" style = "">
	<img src = 'assets/fusegap_white.png' height = '50px' />
	<span style = 'position: absolute; top: 4px; left: 60px; font-size: 40px; color: #323232'><b>fuseGap</b></span>
</div>