@import "compass";
@import "mysheet/vars";
@import "mysheet/mixins";
@import "mysheet/layout";
@import "mysheet/topic_panels";
@import "mysheet/fact_panels";
@import "mysheet/quiz_panels";
@import "mysheet/profile";
@import "mysheet/header";
@import "mysheet/progress_bars";
@import "mysheet/popups";

.page-guy-thing {
	width: 878px;
	height: 100%;
	background-color: rgba(#fff, 0.5);
	position: fixed;
	top: 0;
	z-index: -1000;
}

.page-container-thing {
	z-index: 0;
	width: 878px;
	height: 10px;
	position: relative;
	margin: 0 auto;
	z-index: -1000;
}

.hide {
	display: none;
}

.period-spacing {
	letter-spacing: 1px;
}

a {
	text-decoration: none;
	color: $backgroundcolor;
	
	&:hover {
		text-decoration: underline;
	}
	&:visited {
		color: mix($backgroundcolor, #333333, 60%);
	}
}