@import "compass";

.hide {
	display: none;
}

$radius: 5px;
$textblue: #007ccf;
$lightgreytext: rgb(153,153,153);
$backgroundcolor: darken(#7ECBE0, 10%);
$panelouterbordercolor: #9ca5bf;
$panelinnerbordercolor: #dfdfdf;
$buttonshadowblue: rgb(126,203,224);
$greentext: #00cc00;
$redtext: #ff4747;
$facebookblue: rgb(59,89,152);

@mixin fonts {
	font-family: Helvetica, Arial, sans-serif;
}
@mixin rounded-corners($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;                                                                                                                 
  border-radius: $radius;
}
@mixin top-rounded-corners($radius) {
	-webkit-border-top-right-radius: $radius;
	-webkit-border-top-left-radius: $radius;
	-moz-border-radius-topright: $radius;
	-moz-border-radius-topleft: $radius;
	border-top-right-radius: $radius;
	border-top-left-radius: $radius;                                                                                                                     
}
@mixin bottom-rounded-corners($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -moz-border-radius-bottomleft: $radius;
  	border-bottom-right-radius: $radius;
	border-bottom-left-radius: $radius;                                                                              
}
@mixin left-rounded-corner($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
	border-bottom-left-radius: $radius;
	border-top-left-radius: $radius;                                                                                                                
}
@mixin right-rounded-corner($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
	border-top-right-radius: $radius;
	border-bottom-right-radius: $radius;                                                                                                                
}
@mixin top-left-rounded-corner($radius) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
	border-top-left-radius: $radius;                                                                                                              
}
@mixin bottom-left-rounded-corner($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;   
  border-bottom-left-radius: $radius;                                                                                                              
}
@mixin box-shadow($h, $v, $radius, $spread, $color) {
  -webkit-box-shadow: $h $v $radius $spread $color;
  -moz-box-shadow: $h $v $radius $spread $color;
  box-shadow: $h $v $radius $spread $color;
}
@mixin text-shadow($h, $v, $radius, $color) {
  text-shadow: $h $v $radius $color;
  filter: dropshadow(color=$color, offx=$h, offy=$v);
}
@mixin linear-gradient($from, $to) {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image:    -moz-linear-gradient(top, $from, $to);
  background-image:     -ms-linear-gradient(top, $from, $to);
  background-image:      -o-linear-gradient(top, $from, $to);
}
html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	background-color: lighten(desaturate($backgroundcolor, 25%), 5%);
	@include fonts;
	height: 100%;
}
.header-container {
	width: 100%;
	height: 100px;
	background: lighten(desaturate($backgroundcolor, 25%), 5%);
	position: fixed;
	z-index: 1;
}
.header {
	width: 100%;
	height: 40px;
	background: #282828;
	position: fixed;
	top: 60px;
	@include linear-gradient(#484848, #181818);
	@include text-shadow(0, 0, 0, #d8d8d8);
	@include box-shadow(1px, 1px, 5px, 0, #888);
	z-index: 1;
}
.header-button-main-container {
	width: 878px;
	margin: 0 auto;
	height: 100%;
}
.header-button-sub-container {
	width: 522px;
	border-right: 1px solid #464646;
	border-left: 1px solid #464646;
	margin-left: 13px;
	height: 100%;
}
.inactive-header-button {
	@include linear-gradient(#484848, #181818);
	color: #f0f0f0;
	font-size: 80%;
	@include text-shadow(0, 1px, 0, #000000);
	cursor: pointer;
}
.header-button-main {
	width: 102px;
	height: 28px;
	text-align: center;
	padding-top: 12px;
	float: left;
	border-right: 1px solid #404040;
	font-weight: bold;
}
.header-button-add {
	width: 105px;
	height: 28px;
	text-align: center;
	padding-top: 12px;
	float: left;
	font-weight: bold;
}
.active-header-button {
	color: #efefef;
	font-size: 80%;
	padding-left: 4px;
	@include linear-gradient(#111111, #282828);
	@include text-shadow(0, 1px, 0, #000000);	
}

.page-guy-thing {
	width: 878px;
	height: 100%;
	background-color: rgba(#fff, 0.5);
	position: fixed;
	top: 0;
	z-index: -1000;
}

.page-container-thing {
	z-index: 0;
	width: 878px;
	height: 10px;
	position: relative;
	margin: 0 auto;
	z-index: -1000;
}

.page-container {
	z-index: 0;
	width: 878px;
	height: 100%;
	position: relative;
	margin: 0 auto;
}

.right-panel-container {
	width: 333px;
	height: 100%;
	position: absolute;
	top: 110px;
	right: 5px;
	margin: 0;
	padding: 0;
}

.right-panel {
	width: 333px;
	height: 100%;
	position: fixed;
	top: 110px;
	margin: 0;
	padding: 0;

	.profile-panel {
		position: relative;
		border: 1px solid $panelouterbordercolor;
		width: 313px;
		height: 110px;
		margin: 0 auto;
		@include rounded-corners(5px);
		background-color: #f0f0f0;
		padding: 0;
	
		.profile-pic {
			position: absolute;
			top: 16px;
			left: 20px;
			height: 33px;
			margin-right: 10px;
			overflow: hidden;
			@include rounded-corners(5px);
		}
		.upper-subset {
			margin: 0;
			border-bottom: 1px solid $panelinnerbordercolor;
			overflow: auto;
			height: 65px;
		}
		.name-text {
			position: absolute;
			top: 24px;
			left: 65px;
			white-space: nowrap;
			overflow: hidden;
			width: 145px;
			text-overflow: ellipsis;
		}

		.small-text {
			font-size: 70%;
			margin: 2px 0 0 0;
			color: $lightgreytext;
			@include text-shadow(0, 1px, 0, #ffffff);
		}
	}
}
.bold-text {
	@include text-shadow(0, 1px, 0, #ffffff);
	font-size: 90%;
	font-weight: bold;
	color: #333333;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.left-panel {
	width: 542px;
	min-height: 100%;
	position: absolute;
	top: 110px;
	left: 5px;

	.active-fact-panel {
		border: 1px solid $panelouterbordercolor;
		width: 492px;
		margin: 0 auto;
		@include rounded-corners(5px);
		background-color: #ffffff;
		padding: 15px 15px 12px 15px;
		margin-bottom: 6px;
		overflow: auto;
		.title {
			min-height: 2.2em;
			margin-top: 7px;
			width: 90%;
		}
		.data-panel {
			overflow: auto;
			margin: 0 -15px -12px -15px;
			height: 45px;
			background-color: #f0f0f0;
			border-top: 1px solid #d6d6d6;
		}
		.sum {
			margin: -13px 0 0 0;
		}
	}
	.fact-panel {
		cursor: pointer;
		width: 492px;
		margin: 0 auto;
		background-color: #ffffff;
		padding: 15px 15px 12px 15px;
		height: 58px;
		.title {
			height: 1.6em;
			width: 75%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	.inner-fact-panel {
		border-top: 1px solid $panelinnerbordercolor;
		border-bottom: 1px solid $panelinnerbordercolor;
		border-left: 1px solid $panelouterbordercolor;
		border-right: 1px solid $panelouterbordercolor;
		margin-top: -1px;
	}
	.top-fact-panel {
		border-top: 1px solid $panelouterbordercolor;
		border-left: 1px solid $panelouterbordercolor;
		border-right: 1px solid $panelouterbordercolor;
		border-bottom: 1px solid $panelinnerbordercolor;
		@include top-rounded-corners(5px);
		background-color: #ffffff;
	}
	.bottom-fact-panel {
		border-bottom: 1px solid $panelouterbordercolor;
		border-left: 1px solid $panelouterbordercolor;
		border-right: 1px solid $panelouterbordercolor;
		width: 492px;
		margin: 0 auto;
		@include bottom-rounded-corners(5px);
		margin-bottom: 6px;
	}
	
	.top-perma-panel {
		border-top: 1px solid $panelouterbordercolor;
		border-left: 1px solid $panelouterbordercolor;
		border-right: 1px solid $panelouterbordercolor;
		@include top-rounded-corners(5px);
		background-color: #ffffff;
	}
	.bottom-perma-panel {
		border-bottom: 1px solid $panelouterbordercolor;
		border-left: 1px solid $panelouterbordercolor;
		border-right: 1px solid $panelouterbordercolor;
		width: 492px;
		margin: 0 auto;
		@include bottom-rounded-corners(5px);
		margin-bottom: 6px;
	}
	
	.title {
		@include text-shadow(0, 1px, 0, #ffffff);
		font-size: 90%;
		color: #333333;
		line-height: 135%;
		margin-top: 17px;
	}
	.thumbnail {
		width: 50px;
		margin: -32px 8px -13px 0;
		float: left;
		border-right: 1px solid #f2f2f2;
		padding: 15px 10px 0 0;
		height: 70px;
	}
	.active-panel-thumbnail {
		width: 50px;
		margin: -25px 8px -13px -15px;
		float: left;
		border-right: 1px solid #f2f2f2;
		border-bottom: 1px solid #f2f2f2;
		padding: 15px 10px 0 15px;
		height: 70px;
	}
	.description {
		@include text-shadow(0, 1px, 0, #ffffff);
		margin-top: 35px;
		font-size: 80%;
		line-height: 145%;
		color: #333333;
	}
	.small-text {
		font-size: 70%;
		margin: 2px 0 0 0;
		color: $lightgreytext;
		@include text-shadow(0, 1px, 0, #ffffff);
	}
	.link {
		color: $textblue;
	}
	.show-more {
		font-size: 70%;
		color: rgb(189,189,189);
		float: left;
		margin-left: 175px;
		padding-top: 8px;
	}
	.stats {
		font-size: 70%;
		color: rgba($textblue, 0.60);
		float: right;
		font-weight: bold;
	}
}
.left-button-arrow {
	font-size: 80%; 
	margin-right: 5px;
	margin-left: -4px;
	color: darken($buttonshadowblue,25%);
}
.right-button-arrow {
	font-size: 80%; 
	margin-left: 5px;
	color: darken($buttonshadowblue,25%);
}
.sum {
	float: right;
	height: 10px;
	margin: -23px 0 0 0;
	letter-spacing: 1px;
}
.vote-text {
	float: left;
	font-size: 75%;
	color: $lightgreytext;
	margin-top: 16px;
	margin-left: 178px;
}
.show-comments-text {
	float: right;
	font-size: 75%;
	color: $textblue;
	margin-top: 16px;
	margin-right: 13px;
	font-weight: bold;
}
.footer-text-span {
	color: rgb(153,153,153);
	font-weight: normal;
}
.footer-text-span-facts {
	color: rgb(153,153,153);
}
.footer-text-span-intro-before {
	color: rgb(153,153,153);
	font-weight: normal;
	margin-left: 3px;
}
.footer-text-span-intro-after {
	color: rgb(153,153,153);
	font-weight: normal;
	margin-right: 5px;
}
.footer-text-span-pro-after {
	color: rgb(153,153,153);
	font-weight: normal;
	margin-right: 5px;
}
.vote-button {
	cursor: pointer;
	box-shadow: -1px -1px 2px rgba(darken($buttonshadowblue,25%), 0.99) inset,
				1px 1px 2px rgba(darken($buttonshadowblue,25%), 0.99) inset;
	@include rounded-corners(5px);
	@include linear-gradient(lighten($buttonshadowblue,8%), darken($buttonshadowblue,15%));
	float: left;
	height: 19px;
	width: 30px;
	padding: 5px;
	color: #fcfcfc;
	font-size: 90%;
}
.upvote-button {
	margin: 8px 4px 8px 8px;
}
.downvote-button {
	margin: 8px 8px 8px 4px;
}
.vote-button-text {
	margin: 1px;
	text-align: center;
	@include text-shadow(0, 1px, 0, #999999);	
	font-weight: bold;
}
.topic-container {
	margin: 0 auto;
	width: 313px;
	padding-top: 12px;
}
.active-topic-panel {
	border: 1px solid $panelouterbordercolor;
	@include rounded-corners(5px);
	width: 305px;
	background-color: #ffffff;
	margin-left: -1px;
	margin-top: 2px;
	margin-bottom: 2px;
	overflow: hidden;
	text-align: center;
	padding-top: 10px;
	padding-right: 8px;
	.topic-arrow {
		border-color: transparent rgba($backgroundcolor, 0.99) transparent transparent;
		margin-top: 54px;
		margin-left: 4px;
	}
	.arrow-container {
		@include top-left-rounded-corner(5px);
		@include bottom-left-rounded-corner(5px);
		height: 130px;
		margin-bottom: -58px;
		margin-left: 0px;
		margin-top: -13px;
	}
}
.topic-panel {
	padding: 10px 8px 0 0;
	width: 305px;
	background-color: #ececec;
	margin-left: -1px;
	text-align: center;
	height: 45px;
	cursor: pointer;
	.bold-text {
		color: #555555;
	}
}
.inner-topic-panel {
	border-top: 1px solid $panelinnerbordercolor;
	border-bottom: 1px solid $panelinnerbordercolor;
	border-left: 1px solid $panelouterbordercolor;
	border-right: 1px solid $panelouterbordercolor;
	margin-top: -1px;
}
.top-topic-panel {
	border-top: 1px solid $panelouterbordercolor;
	border-left: 1px solid $panelouterbordercolor;
	border-right: 1px solid $panelouterbordercolor;
	border-bottom: 1px solid $panelinnerbordercolor;
	@include top-rounded-corners(5px);
	.arrow-container {
		@include top-left-rounded-corner(5px);
	}
}
.bottom-topic-panel {
	border-bottom: 1px solid $panelouterbordercolor;
	border-left: 1px solid $panelouterbordercolor;
	border-right: 1px solid $panelouterbordercolor;
	@include bottom-rounded-corners(5px);
	.arrow-container {
		@include bottom-left-rounded-corner(5px);
	}
}
.top-panel-topic {
	border-top: 1px solid $panelouterbordercolor;
	border-left: 1px solid $panelouterbordercolor;
	border-right: 1px solid $panelouterbordercolor;
	@include top-rounded-corners(5px);
	.arrow-container {
		@include top-left-rounded-corner(5px);
	}
}
.bottom-panel-topic {
	border-bottom: 1px solid $panelouterbordercolor;
	border-left: 1px solid $panelouterbordercolor;
	border-right: 1px solid $panelouterbordercolor;
	@include bottom-rounded-corners(5px);
	.arrow-container {
		@include bottom-left-rounded-corner(5px);
	}
}
.show-more-topic-text{
	cursor: pointer;
	font-size: 70%;
	color: rgb(189,189,189);
	padding-top: 8px;
	padding-left: 10px;
	letter-spacing: 1px;
}
.arrow-container {
	height: 55px;
	border-right: 1px solid $panelinnerbordercolor;
	float: left;
	margin-top: -10px;
	width: 20px;
	margin-right: 8px;
	background-color: #fafafa;
}
.topic-arrow {
	border-style: solid;
	width: 0;
	height: 0;
	border-color: transparent rgba($backgroundcolor, 0.25) transparent transparent;
	border-width: 5px 10px 5px 0px;
	z-index: 10;
	margin: 23px -13px 0 4px;
	float: left;
}
.show-facts-text {
	cursor: pointer;
	float: right;
	font-size: 65%;
	color: rgba($textblue, 0.65);
	margin-top: -8px;
	margin-right: -1px;
	font-weight: bold;
}
.active-topic-footer {
	margin-left: 21px;
	width: 97%;
	border-top: 1px solid $panelinnerbordercolor;
	overflow: auto;
	background-color: #ececec;
	float: left;
}
.show-active-topic-text {
	float: right;
	font-size: 75%;
	color: rgba($textblue, 0.65);
	margin-right: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-weight: bold;
}
.progress-bar-container {
	position: relative;
	box-shadow: inset 0 0 1px 1px rgba(#000, 0.3);
	@include rounded-corners(3px);
	margin: 0;
	padding: 0;
	&.topic {
		width: 200px;
		border: 1px solid rgba($textblue, 0.65);
		margin-top: 23px;
		margin-left: 65px;
		margin-bottom: 27px;
	}
	&.global {
		margin-top: 17px;
		margin-left: 46px;
		width: 220px;
		border: 1px solid rgba(#007F26, 0.65);
	}
}

.progress-bar {
	@include rounded-corners(2px);
	box-shadow: inset 1px 1px 1px 0 rgba(#fff, 0.75), 1px 0 1px 0 rgba(#000, 0.75);
	height: 10px;
	z-index: 1;
	&.topic {
		background-color: $backgroundcolor;
	}
	&.global {
		background-color: #47CC51;
	}
}

.progress-bar-text {
	color: darken($buttonshadowblue, 45%);
	font-size: 9px;
	text-align: right;
	width: 100%;
	height: 50px;
	z-index: 2;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	right: 5px;
	
	&.global { 
		color: darken(#47CC51, 35%);
	}
}

.question-panel {
	cursor: pointer;
	width: 492px;
	margin: 0 auto;
	background-color: #ffffff;
	padding: 15px 15px 12px 15px;
	height: 58px;
	.title {
		height: 1.6em;
		width: 75%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.show-more {
		margin-left: 150px;
	}
	.x-text {
		color: $redtext; 
		font-size: 130%;
	}
	.checkmark-text {
		color: $greentext; 
		font-size: 130%;
	}
	.questionmark-text {
		color: $textblue; 
		font-size: 130%;
	}
}

.active-question-panel {
	border: 1px solid $panelouterbordercolor;
	width: 492px;
	margin: 0 auto;
	@include rounded-corners(5px);
	background-color: #ffffff;
	padding: 5px 15px 12px 15px;
	margin-bottom: 6px;
	overflow: auto;
	.title {
		margin-top: 10px;
		width: 99%;
		min-height: 4.2em;
	}
	.data-panel {
		overflow: auto;
		margin: 10px -15px -12px -15px;
		padding: 10px 0 18px 0;
		background-color: #f0f0f0;
		border-top: 1px solid #d6d6d6;
		.button-container {
			margin: 0 auto; 
			width: 300px;
		}
	}
}

.active-answered-question-panel {
	border: 1px solid $panelouterbordercolor;
	width: 492px;
	margin: 0 auto;
	@include rounded-corners(5px);
	background-color: #ffffff;
	padding: 5px 15px 12px 15px;
	margin-bottom: 6px;
	overflow: auto;
	.title {
		margin-top: 10px;
		width: 99%;
		min-height: 4.2em;
	}
	.data-panel {
		overflow: auto;
		margin: 10px -15px -12px -15px;
		padding: 10px 0 18px 0;
		border-top: 1px solid #d6d6d6;			
		text-align: center;
		font-size: 90%;
	}
}
.question-thumbnail {
	width: 50px;
	margin: -15px 8px -13px -15px;
	float: left;
	border-right: 1px solid #f2f2f2;
	padding: 15px 10px 0 15px;
	height: 70px;
}
.correct-text {
	color: $greentext;
	margin: 0px;
	padding-bottom: 5px;
	font-size: 110%;
	letter-spacing: 1px;
}
.incorrect-text {
	color: $redtext;
	margin: 0px;
	padding-bottom: 5px;
	font-size: 110%;
	letter-spacing: 1px;
}
.rage-comic {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 100px;
}
.answer-button {
	box-shadow: -1px -1px 2px rgba(darken($buttonshadowblue,40%), 0.99) inset,
				1px 1px 2px rgba(darken($buttonshadowblue,40%), 0.99) inset;
	@include rounded-corners(8px);
	@include linear-gradient(darken($buttonshadowblue,15%), darken($buttonshadowblue,30%));
	@include fonts;
	float: left;
	height: 33px;
	width: 300px;
	padding: 0px;
	margin-top: 8px;
	color: #ffffff;
	font-size: 80%;
	border: none;
	text-align: center;
	@include text-shadow(0, 1px, 0, rgba(darken($buttonshadowblue,50%),0.99));	
	font-weight: bold;
}

button.fb-login-profile {
	box-shadow: 0 0 2px 2px rgba(darken($facebookblue,15%), 0.99) inset;
	@include rounded-corners(8px);
	@include linear-gradient(lighten($facebookblue,7.5%), darken($facebookblue,7.5%));
	@include fonts;
	height: 33px;
	width: 172px;
	padding: 0px;
	color: #ffffff;
	font-size: 80%;
	border: none;
	text-align: center;
	@include text-shadow(0, 1px, 0, rgba(darken($facebookblue,50%),0.99));	
	font-weight: bold;
	cursor: pointer;
}

span.sexting {
	@include text-shadow(0, 1px, 0, #fff);
	color: #333333;
}

.greenish {
	@include text-shadow(0, 1px, 0, #fff);
	color: darken(#47CC51, 15%);
}

.popup {
	position: absolute; 
	top: 100px; 
	left: 189px; 
	width: 500px; 
	padding: 10px 8px 10px 2px;
	background-color: #fcfcfc;
	@include rounded-corners(8px);
	@include box-shadow(-1px, -1px, 3px, 5px, #fcfcfc);
}

.popup-message-container {
	width: 99%;
	overflow: auto;
	font-size: 110%;
	text-align: center;
	margin-bottom: 25px;
	.blue-text {
		color: $backgroundcolor;
	}
	.green-text {
		color: $greentext;
	}
	.global-level-title {
		font-size: 170%;
		margin-bottom: 10px;
		color: #555555;
	}
	.topic-level-title {
		font-size: 170%;
		color: #555555;
		margin-bottom: 10px;
	}
	.rage-image {
		padding-top: 15px;
		padding-bottom: 15px;
		margin-left: 30px;
		width: 40%;
		float: left;
	}
	.votes-gained {
		font-size: 100%;
		width: 49%;
		float: left;
		padding-top: 25px;
		.small-text-sub {
			font-size: 70%;
			color: $lightgreytext;
			font-weight: normal;
			font-style: italic;
			padding-top: 3px;
			padding-bottom: 18px;
		}
	}
}

.popup-error-container {
	width: 99%;
	overflow: auto;
	text-align: center;
	font-size: 100%;
	padding-top: 10px;
	.text {
		width: 49%;
		float: left;
		padding-top: 15px;
	}
	.rage-image {

		padding-bottom: 15px;
		margin-left: 40px;
		width: 30%;
		float: left;
	}
}

.popup-login-container {
	width: 475px;
	overflow: auto;
	padding-left: 28px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-top: 1px solid $panelinnerbordercolor;
	background: #f3f3f3;
	.signin-text-main {
		margin-left: 20px;
		float: left;
	}
	.signin-text-sub {
		font-size: 80%;
		color: $lightgreytext;
		font-weight: normal;
		margin-top: 4px;
		margin-left: 20px;
		float: left;
	}
	button.fb-login {
		box-shadow: 0 0 2px 2px rgba(darken($facebookblue,7%), 0.99) inset;
		@include rounded-corners(8px);
		@include linear-gradient(lighten($facebookblue,5%), darken($facebookblue,5%));
		@include fonts;
		height: 34px;
		width: 180px;
		padding: 0px;
		color: #ffffff;
		font-size: 80%;
		border: none;
		text-align: center;
		margin-top: 1px;
		@include text-shadow(0, 1px, 0, rgba(darken($buttonshadowblue,50%),0.99));	
		font-weight: bold;
		float: left;
		cursor: pointer;
	}
}
.popup-continue-container {
	width: inherit;
	text-align: center;
	overflow: auto;
	border-top: 1px solid $panelinnerbordercolor;
	padding-top: 12px;
	
	button.continue {
		box-shadow: -1px -1px 2px rgba(darken($buttonshadowblue,40%), 0.99) inset,
					1px 1px 2px rgba(darken($buttonshadowblue,40%), 0.99) inset;
		@include rounded-corners(8px);
		@include linear-gradient(darken($buttonshadowblue,15%), darken($buttonshadowblue,30%));
		@include fonts;
		height: 38px;
		width: 190px;
		padding: 0px 0px 0px 15px;
		color: #ffffff;
		font-size: 90%;
		border: none;
		text-align: center;
		@include text-shadow(0, 1px, 0, rgba(darken($buttonshadowblue,50%),0.99));	
		font-weight: bold;
		cursor: pointer;
	}
}

.period-spacing {
	letter-spacing: 1px;
}

.popup-background {
	position: fixed; 
	top: 0px; 
	left: 0px; 
	width: 100%; 
	height: 100%; 
	background-color: rgba(0,0,0,0.5); 
	z-index: 1000; 
	margin: 0 auto;
}

.popup-container {
	position: relative; 
	margin: 0 auto; 
	width: 878px;
}

.home-panel {
	position: relative;
	color: mix(#444444, $backgroundcolor);
	background: #ffffff;
	border: solid 1px $panelouterbordercolor;
	width: 492px;
	margin: 0 auto;
	padding: 3px;
	line-height: 1.6em;
	@include rounded-corners(5px);
}

.home-inner-box {
	padding: 17px 30px 17px 30px;
	color: #333333;
}

.home-other-text {
	margin-top: 20px;
	font-size: 85%;
}

.home-bright {
	color: darken(desaturate($backgroundcolor, 20%),10%);
}

.home-lighter {
	color: #535353;
}

.home-line {
	border-top: 1px solid #e3e3e3;
	margin: 1.4em -1.2em 0.9em -1.2em;
}
.home-below-title-line {
	border-top: 1px solid #e3e3e3;
	margin: 1.7em -1.2em 1.3em -1.2em;
}

.home-thick-line {
	border-top: 4px solid lighten(desaturate($backgroundcolor, 20%), 0%);
	margin: 0.3em -1.2em 0.2em -1.2em;
}
.home-lower-line {
	border-top: 1px solid #e3e3e3;
	margin: 0 -1.2em 1.8em -1.2em;
}

a {
	text-decoration: none;
	color: $backgroundcolor;
	
	&:hover {
		text-decoration: underline;
	}
	&:visited {
		color: mix($backgroundcolor, #333333, 60%);
	}
}